

<div id="pool" class="hiw_section layout_padding">
    <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <h3>Pool</h3>
                 <p>
                    I mine sidste folkeskoleår begyndte jeg at spille pool på en nærliggende fritidsklub. Dette udviklede sig hurtigt til, at jeg dagligt trænede flere timer på "Sharks, Århus". En dag kom ejeren og fortalte om en kvinde-turnering i "Aarhus Billard Klub", som jeg nok burde stille op til.
                </p>
                <p>
                    Derfra gik det slag i slag. Jeg begyndte at få instruktion og udviklede mig hurtigt til at være blandt landets bedste kvindelige poolspillere.
                </p>
                <p>
                    I 1996 vandt jeg mit første jydske mesterskab i disciplinen 9-ball. Selv mere end 15 år efter husker jeg stadig denne dag og følelsen af at være blevet jydsk mester.
                </p>
                <p>
                    I de efterfølgende år blev det til endnu flere mesterskaber og blandt disse en titel som dansk mester i 14:1.
                </p>
                <p>
                    I flere år blev jeg tilbudt en plads på landsholdet, men valgte at sige "nej tak", da jeg ikke følte mig klar til denne opgave. Men efter at have vundet endnu 2 danske mesterskaber i 2001 var jeg klar.
                </p>
                <p>
                    Og det må siges...Som første danske kvinde nogensinde vandt jeg en bronze-medalje i 8-ball ved europamesterskaberne i Finland, 2002. Det er en helt speciel begivenhed i min pool- karriere, som jeg aldrig nogensinde vil glemme!
                </p>
                <p>
                    Efterfølgende blev det til endnu en EM-bronze-medalje i 8-ball, en EM-bronze-medalje for hold samt en EM sølv-medalje for hold.
                </p>
              </div>
              <div class="col-md-5">
              </div>
           </div>
           <div class="row">
            <div class="col-md-8 service_blog">
               <img class="margin_top_30 img-responsive" src="./assets/imgs/s1.jpg" alt="#" />
               <h3 class="blog_head">Book Online</h3>
            </div>
            <div class="col-md-4 service_blog">
               <img class="margin_top_30 img-responsive" src="./assets/imgs/s2.jpg" alt="#" />
               <h3 class="blog_head">Confirmation</h3>
            </div>
            <div class="col-md-4 service_blog">
               <img class="margin_top_30 img-responsive" src="./assets/imgs/s3.jpg" alt="#" />
               <h3 class="blog_head">Work Status</h3>
            </div>
            <div class="col-md-4 service_blog">
               <img class="margin_top_30 img-responsive" src="./assets/imgs/s4.jpg" alt="#" />
               <h3 class="blog_head">Work Status</h3>
            </div>
            <div class="col-md-4 service_blog">
               <img class="margin_top_30 img-responsive" src="./assets/imgs/s5.jpg" alt="#" />
               <h3 class="blog_head">Work Status</h3>
            </div>
         </div>
    </div>
</div> 



<app-footer></app-footer>